/*	Editor: Patrick Tunga-Lergo
	A .Hello{} Website
	Wintersoulstice
*/

/*.modal-dialog {*/
/*    width: 400px;*/
/*}*/

.form-horizontal
{
    margin-top: 1%;
}

.input-md, .input-lg
{
    margin-bottom: 7%;
    border: solid 5px #969696;

}

h1, h2{color: #ffffff;}

i
{
    color: #fed136;
}

h4
{
    margin-top: 10%;
    margin-bottom: 10%;
}

.tickets-select
{
    margin-bottom:10%;
    size: 30%;
    color: white;
}

p
{
    padding-left: 10px;
}

body
{
    background: #101b24;

}
img[alt="title"]
{
    width: 100%;
    margin-top:15%;
    margin-bottom:0%;
}

img[alt="bbooth-logo"]
{
    max-width: 25%;
}

img[alt="hello-logo"]
{
    max-width: 30%;
    margin-top:0%;
    padding-top: 0%;
}

img[alt="8lb-logo"]
{
    max-width: 25%;
    width: 10%;
    margin-top:0%;
    padding-top: 0%;
}

header
{
    margin-bottom:10%;
}

.footer
{
    background: url('/images/winter-footer.svg');
    background-size: 100%;
    position:relative;
    height: 350px;
    background-repeat:no-repeat;
}

.f-content
{
    position: absolute;
    bottom:0px;

}

/*SNOW ANIMATION*/
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;

}
@media screen and (min-width: 768px) {
  /*DESKTOP CENTERED*/
  #snowflakeContainer {
      position: absolute;
      margin: 0 auto;
      left: 15%;
      top: 0px;
      width: 30%;
      right: 15%;
  }
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 4px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: -1000;
}
.snowflake:hover {
    cursor: default;
}
